
.home{
    position: relative;
    height: 100vh;
    width: 100%;
    /* background-image: repeating-linear-gradient(black,blue,darkblue,black); */
  img{
    height: 100%;
    width: 100%;
    position: absolute;
}
  .cover{
      height: 100%;
      width: 100%;
      position: absolute; display: flex;
      align-items: center;
      justify-content: center;    
      
  .text{
    height: 460px;
    width: 900px;
    // border: 2px solid;
    margin-top: 200px;
    display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
    /* border: 2px solid; */
    h1{ 
      font-size: 48px;
    }
    h2{
      font-size: 22px;
      text-align: center;
      margin: 40px;
      letter-spacing: 0.5px;
    }
  span{
      margin: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      button{
        margin:0 10px;
      }
      .b1{
        color: $bg;
        background: white;
      }
      .b2{
        background: $bg;
      }
  }
}
  }
  }
  
  
  
  
  
  
  
  
  